@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** text input **/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* bg colors */

.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.7);
}

/* text size */
.text-xxs {
  font-size: 8px;
}

/* */
.fc-header-toolbar h2 {
  font-size: 18px !important;
  font-weight: bold;
}
